/*********************************************************************************/
/*                              Variable Definitions                             */
/*********************************************************************************/

:root {
	--myTrueBlack:     #000000;
	--myTrueWhite:     #FFFFFF;
	--myLightGray:     #CCCCCC;
	--myTextGray:      #AAAAAA;
	--myMidGray:       #808080;
	--myDarkGray:      #555555;
	--myOffBlack:      #222222;
	--myHighlightGray: #E0E0E0;
	--myLinkGreen:     #00FF84;
	--myBloodRed:      #c90000;
	--sideNavWidth:    220px;
}

/*********************************************************************************/
/*                                    Blocking                                   */
/*********************************************************************************/

html, body { 
	height: 100%; 
}

body { 
	background: black;
	background-image: url(https://katcottrell.github.io/vampire-interviews/images/starry%20sky.png);
	background-size: 600px;
	background-repeat: repeat;
	margin: 0px;
	padding: 0px;
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
}

hr {
	display: block;
	height: 1px;
	border: 0;
}

.thickHr {
	width: 90%;
	margin: 10px 5%;
	border-top: 3px solid #ccc;
}

.skinnyHr {
	width: 70%;
	margin: 10px 15%;
	border-top: 1px solid #666;
}

.sectionDivider {
	width: 50%;
	margin: 10px 25%;
	border-top: 3px solid #666;
}

.warningBlock {
	background-color: #ccc;
	padding: 1px;
	border: solid 3px #666;
	margin: 24px 0;
}

.aBlock {
	
	background-color: #222;
	border: solid #ccc 3px;
	text-shadow: none;
	padding: 1px 20px;
	margin: 0 0 60px 5%;
}

/*********************************************************************************/
/*                           Indentation and Spacing                             */ 
/*********************************************************************************/

.aboveFooter {
	min-height: calc(100% - 40px);
}

.mainBody {
	background: #000000dd;
	max-width: calc(100% - var(--sideNavWidth));
	width: 60%;
	margin-left: max(var(--sideNavWidth), calc(var(--sideNavWidth) + (30% - var(--sideNavWidth)) / 2));
	padding: 20px 5% 500px 5%;
	border-left: solid 4px var(--myMidGray);
	border-right: solid 4px var(--myMidGray);
	box-shadow: 0px 0px 20px var(--myTrueBlack);
	min-height: calc(100vh - 480px);
}

/*********************************************************************************/
/*                                  Styling Text                                 */ 
/*********************************************************************************/

h1, h2, h3 { 
	padding: 0; 
	color: var(--myTrueWhite); 
	text-transform: uppercase;
	font-family: "Copperplate Gothic Light", serif;
	font-weight: normal;
	text-align: center;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}
	
p, ol, ul { 
	color: white;
	font-family: "Century Gothic", Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 180%; 
	text-shadow: 1px 1px 12px black, -1px 1px 12px black, 1px -1px 12px black, -1px -1px 12px black, 1px 1px 12px black, -1px 1px 12px black, 1px -1px 12px black, -1px -1px 12px black, 1px 1px 12px black, -1px 1px 12px black, 1px -1px 12px black, -1px -1px 12px black;
}
p {
	text-align: center;
}

ol, ul { 
	padding: 0; 
	list-style: none; 
}

li {
	font-size: 18px;
	margin-left: 60px;
	list-style-type: circle;
 }

a {
	color: var(--myBloodRed);
	text-shadow: none;
}

.qText {
	text-align: left;
	font-weight: bold;
	font-size: 20px;
}

.warningNote {
	text-shadow: none;
	margin: 10px;
	font-size: 14px;
	font-style: italic;
	color: black;
}

.aText {
	text-align: left;
	text-shadow: none;
}

/*********************************************************************************/
/*                                 Styling Footer                                */ 
/*********************************************************************************/

footer {
	background-color: var(--myDarkGray);
	text-align: center;
	padding: 10px;
	border-top: solid var(--myMidGray);
}

p.footer-text {
	color: var(--myTextGray);
	text-align: center;
	margin: 5px;
	line-height: 100%;
	text-shadow: none;
}

img.footer-icon {
	height: 30px;
	vertical-align: middle;
	padding-right: 5px;
}

/*********************************************************************************/
/*                           Styling Header Image Menu                           */
/*********************************************************************************/

 #header-image-menu { 
	 top: 0px; 
	 position: relative;  
	 font-size: 0;
}

#header-image-menu img { 
	width: 100%; 
	margin: none; 
	padding: none; 
}

/*********************************************************************************/
/*                           Styling Side Navigation                             */ 
/*********************************************************************************/

.sidenav {
	background-color: black;
	color: white;
	border-right: solid #777;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	float: left;
	width: var(--sideNavWidth);
	z-index: 1;
	margin: 0;
	height: calc(100vh);
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-color: black #ddd;
	scrollbar-width: thin;
}

.sidenav a.sideHeading {
	padding: 6px 8px;
	font-size: 20px;
	font-weight: bold;
	font-family: serif;
	text-decoration: none;
	color: white;
	display: block;
	margin: 12px 0;
	text-align: center;
	font-family: "Copperplate Gothic Light", serif;
	text-transform: uppercase;
}

.sidenav a.sideTabs {
	padding: 6px 8px;
	margin: 12px 0;
	font-size: 18px;
	font-family: sans-serif;
	text-decoration: none;
	color: white;
	display: block;
	text-align: center;
	text-transform: uppercase;
}

.sidenav a.sideTabs:hover {
	background-color: var(--myHighlightGray);
	color: black;
	background-color: var(--myHighlightGray);
}

.sidenav a.active {
	padding: 6px 8px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: black;
	display: block;
	background-color: var(--myHighlightGray);
	box-shadow: 0 0 12px var(--myMidGray);
}

/*********************************************************************************/
/*                                 Image Styling                                 */ 
/*********************************************************************************/

.thirds {
	width: calc(31% - 2px);
	margin: 1%;
	filter: grayscale(100%);
	border: solid 1px #ccc;
}

.catBanner {
	width: 100%;
	margin: 10px 0;
	filter: grayscale(100%);
	border: solid 1px #ccc;
}

/*********************************************************************************/
/*                             Styling  Collapsibles                             */ 
/*********************************************************************************/

.collapsible {
	background-color: var(--myLightGray);
	color: var(--myTrueBlack);
	cursor: pointer;
	padding: 10px;
	width: 100%;
	border: none;
	outline: solid #999;
	outline-width: 2px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}

.collapsible:hover {
	background-color: var(--myHighlightGray);
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top:0px;
}

.collapsible:after {
	content: '\2796'; /* Unicode character for "minus" sign (-) */
	float: left;
	margin-right: 15px;
}

.opened:after {
	content: "\2795"; /* Unicode character for "plus" sign (+) */
	float: left;
	margin-right: 15px;
}

.courseNum {
	display:inline-block;
	width:100px;
}

.divider {
	display:inline-block;
	width:20px;
}

.courseName {
	display:inline-block;
	width:calc(90% - 120px);
}

/*********************************************************************************/
/*                                 Table Styling                                 */ 
/*********************************************************************************/

table, th, td {
	border-collapse: collapse;
	padding: 5px 15px;
	white-space: pre-wrap; 
	word-wrap: break-word;
	border: 1px solid #ddd;
}

table {
	width: 100%;
	color: white;
	line-height: 200%;
	border: solid #ddd 1px;
}

.singleColTd {
	background-color: #080808;
	border-left:  4px solid #ddd;
	border-right: 4px solid #ddd;
}

th {
	background-color: #222222;
	text-align: left;
	width: 100px;
}
